<div class="linknavigation">
   {{if .previousPage}}
   <a href="{{.root}}/image?page={{.previousPage}}&bucket={{.bucket}}&view={{.view}}">Previous {{.ipp}}</a>
   {{end}}
   {{if .nextPage}}
   <a href="{{.root}}/image?page={{.nextPage}}&bucket={{.vucket}}&view={{.view}}">Next {{.ipp}}</a>
   {{end}}
   <a data-slideshow>Slideshow</a>
</div>
